<html>
<head>
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
<body>
<div style="width:1000px; margin:0 auto; height:auto;">
<div style="width: 1000px; margin: 0 auto; border:1px solid black;">
    //we are doing ...

    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/adduser">Add User</a></li>
    <li><a href="/listuser">List User</a></li>
    <li><a href="/addtransaction">Add Transaction</a></li>
    <li><a href="/listtransaction">List Transaction</a></li>
    </ul>

    //
    </div>
