<%- include("header"); %>

<div style="border: 2px red dotted; height: 600px; width: 1000px;">
    <h1>Add Transaction</h1>

    <% if (msg) { %>
        <p><%= msg %></p>
    <% } %>

    <form action="/addtransactionSubmit" method="post">
        <table align="center" class="table table-bordered">
            <tr>
                <td>Product Name</td>
                <td><input type="text" name="carname" required /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" name="price" required /></td>
            </tr>
            <tr>
                <td>Payment Method</td>
                <td><input type="text" name="paymentmethod" required /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Add Transaction</button>
                </td>
            </tr>
        </table>
    </form>
</div>
